$white: #fff;
$black: #000216;
$pink: #E91E63;
$purple: #6A1B9A;
$gray: #bfbdbd;

//Fonts

$mont : Montserrat, sans-serif;
$roboto: Roboto, sans-serif;
$rale: Raleway, sans-serif;
$cinzel: "Cinzel", cursive;