

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url("https://fonts.googleapis.com/css?family=Cinzel:400,700|Exo:300,400,500,600,700|Overpass:300,400,600,700|Ovo");

// Variables
@import 'variables';

@import './client/home';

@import './admin/style';

//Media queries
@import 'media';
