.about {
  margin: 80px 0;
  padding: 0 15px;
  h1, h2, h3, h4, h5, h6 {
    font-family: $rale;
    text-transform: uppercase;
  }
  p, a, ul, li {
    font-family: $roboto;
    font-size: 1.1rem;
  }
  img {
    width: 100%;
    margin-bottom: 25px;
  }
}