.contact {
  padding: 40px 0;
  margin: 70px 0;
  .intro {
    margin-bottom: 35px;
    h2 {
      font-size: 1.3rem;
      font-weight: 400;
      font-family: $roboto;
    }
  }
  .contact-item  {
    margin-bottom: 35px;
    h3 {
      font-family: $rale;
      text-transform: capitalize;
      font-size: 1.8rem;
      font-weight: 400;
      color: $pink;
      margin-bottom: 0;
    }
    p {
      font-family: $roboto;
      font-size: 1.1rem;
      margin: 0;
    }
  }
  .social-media {
    h3 {
      margin-bottom: 20px;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      content: "";
      display: table;
      clear: both;
      li {
        float: left;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 50%;
        border: 2px solid $gray;
        margin-right: 10px;
        transition: all .3s ease-in-out;
        a {
          display: block;
          font-size: 28px;
          color: $gray;
          transition: all .3s ease-in-out;
        }
      }
      li:first-child:hover {
        border: 2px solid $white;
        background:  #3f51b5;
        a {
          color: $white;
        }
      }
      li:nth-child(2):hover {
        border: 2px solid $white;
        background: #64B5F6;
        a {
          color: $white;
        }
      }
      li:last-child:hover {
        border: 2px solid $white;
        background: -webkit-linear-gradient(45deg, $pink 20%, $purple);
        a {
          color: $white;
        }
      }
    }
    .whatsapp {
      display: flex;
      align-items: center;
      justify-content: left;
      margin-top: 15px;
      span.w-logo {
        margin-right: 12px;
        i.fa.fa-whatsapp {
          transition: all .3s ease-in-out;
          font-size: 50px;
          color: $gray;
        }
        i.fa.fa-whatsapp:hover {
          color: limegreen;
        }
      }
      span.w-num {
        font-size: 1.3rem;
        font-weight: 500;
        color: $black;
      }
    }
  }
  .contact-form {
    h3 {
      margin-bottom: 30px;
    }
    label {
      text-transform: uppercase;
      font-family: $rale;
      font-weight: 600;
    }
    input, textarea {
      box-shadow: unset;
      font-size: 1.1rem;
      font-family: $roboto;
    }
    button.send-btn {
      background: $purple;
      padding: 10px 15px;
      color: $white;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-family: $roboto;
      font-weight: 500;
      margin-top: 15px;
    }
    button.send-btn:hover {
      background: rgb(80, 11, 122);
    }
  }
}
.toast-success {

}
.toast {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 0;
  box-shadow: unset;
}
.map {
  display: block;
  height: 100%;
  .location-map {
    height: inherit;
    iframe {
      height: inherit;
    }
  }
}